/*Aspecto del body en general*/
body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #8EA8C3;
}

/*Aspecto de los div en general*/
div {

    position: absolute;
}

/*Aspecto de el div encabezado*/
.Encabezado {

    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #406E8E;
    top: 100px;
    z-index: 1;
}

/*Aspecto del texto desntro del encabezado*/
.Encabezado .Encabezado_texto {

    width: 40%;
    height: 50%;
    position: absolute;
    top: 15px;
    left: 700px;
}

/*Aspecto de el nombre del texto del encabezado*/
.Encabezado .Encabezado_texto .Nombre {

    color: white;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    font-size: 60px;
    margin: 0;
}

/*Aspecto de la edad del texto dentro del encabezado*/
.Encabezado .Encabezado_texto .Edad {

    color: white;
    font-family: "Merriweather", serif;
    font-size: 40px;
}

/*Aspecto de la profesion del texto dentro del encabezado*/
.Encabezado .Encabezado_texto .Profesion {

    color: white;
    font-family: "Merriweather", serif;
    font-size: 40px;
}
/*Aspecto y posicion de la barra lateral azul oscuro que contiene algunos datos*/
.Barra_lateral {

    position: absolute;
    width: 450px;
    height: 1650px;
    top: 50px;
    left: 80px;
    background-color: #161925;
    z-index: 2;
}

/*Aspectos de tamaño y posicion de las imagenes e Interaccion al pasar el raton por la imagen*/
.foto :hover {

    transform: scale(1.3);
    }

.foto img {

    width: 270px;
    height: 350px;
    position: absolute;
    top: 30px;
    left: 90px;
    transition: 0.5s ease-in-out;
}

/*Aspecto de los contenidos de la barra lateral*/
.Contenido_lateral {

position: absolute;
width: 90%;
height: 100;
top: 430px;
left: 35px;
}

/*Aspecto de los titulos de la barra lateral*/
.Barra_lateral .Contenido_lateral .lateral_titulo {

    position: relative;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
    border-radius: 10px;
}

.Barra_lateral .Contenido_lateral .lateral_titulo:hover{

    background-color: #CBF7ED;
    color: #161925;
}

/*Aspecto de las listas de los contenidos de la barra lateral*/
.Barra_lateral .Contenido_lateral .Lista_lateral {

    position: relative;
    width: 90%;
    height: auto;
    list-style: none;
    color: white;
    font-family: "Merriweather", serif;
    font-size: 20px;
    right: 30px;
    top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.Barra_lateral .Contenido_lateral .Lista_lateral:hover {

    background-color: #CBF7ED;
    color: #161925;
}

/*Aspectos de cada valor de todas las listas de la barra lateral*/
.Barra_lateral .Contenido_lateral .Lista_lateral li {

    margin-bottom: 15px;
}

/*Aspectos de la hoja principal con info de experiencia laboral*/
.Experiencia_laboral {

    position: absolute;
    width: 65%;
    height: 1300px;
    top: 400px;
    left: 530px;
    background-color: #CBF7ED;
    z-index: 3;
}

/*Aspectos de el texto "Acerca de mi"*/
.Acerca {

    position: absolute;
    width: 90%;
    height: 100%;
    top: 30px;
    left: 30px;
}

.Experiencia_laboral .Acerca .Acerca_titulo {

    position: relative;
    color: #161925;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

.Experiencia_laboral .Acerca .Acerca_texto {

    position: relative;
    color: #161925;
    font-family: "Merriweather", serif;
    font-size: 20px;
    margin: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #161925;
}

/*Aspectos de las experiencias laborales*/
.Experiencias {

    position: absolute;
    width: 90%;
    height: 100%;
    top: 300px;
    left: 30px;
}

.Experiencia_laboral .Experiencias .Experiencia_titulo {

    position: relative;
    width: auto;
    height: auto;
    color: #161925;
    font-family: "Merriweather", serif;
    font-weight: bolder;
    left: 30px;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.Experiencia_laboral .Experiencias .imagen img{

    width: 150px;
    height: 150px;
    top: 20px;
    left: 30px;
    border-bottom: 2px solid #161925;
}

.Experiencia_laboral .Experiencias .Experiencia_texto {

    position: relative;
    left: 140px;
    top: 40px;
    color: #161925;
    font-family: "Merriweather", serif;
    font-size: 20px;
    margin: 30px;
    margin-bottom: 20px;
}